fastapi==0.115.0
uvicorn[standard]==0.30.0
pydantic==2.8.2
transformers==4.45.0
accelerate==1.0.0
torch==2.4.1
captum==0.7.0
inseq==0.6.0
pandas==2.2.2
scikit-learn==1.5.2
numpy==2.1.1
tqdm==4.66.5
celery>=5.5.0
redis>=4.5.2
peft==0.13.2
ferret-xai==0.4.0
# vllm==0.6.2.post1  # optional, GPU container required